{% load static mathfilters humanize %}
<h5 class="mb-3 thick-end-brown" style="line-height: 63px;">{% if nutr.name != "total" %} {{nutr.name | capfirst}} has a total of  {% else %} Total {% endif %} <strong> {{nutr.calories}}
    Calories</strong></h5>
    <div class="row my-4">
      <div class="col-lg-6 col-md-12 mr-1">
        <section class="nutrition-facts">
          <header class="nutrition-facts__header">
              <h3 class="nutrition-facts__title">{{nutr.name | capfirst}}</h3>
              <h1 class="nutrition-facts__title">Nutrition Facts</h1>
              <p>Serving Size per {{nutr.serving_size_g}}/Grams
          </header>
          <table class="nutrition-facts__table">
              <thead>
                  <tr>
                      <th colspan="3" class="small-info">
                          Amount Per Serving
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th colspan="2">
                          <b>Calories</b>
                      </th>
                      <td>
                        {{nutr.calories}}
                      </td>
                  </tr>
                  <tr class="thick-row">
                      <td colspan="3" class="small-info">
                      </td>
                  </tr>
                  <tr>
                      <th colspan="2">
                          <b>Total Fat</b>
                      </th>
                      <td>
                          <b>{{nutr.fat_total_g}} g</b>
                      </td>
                  </tr>
                  <tr>
                      <td class="blank-cell">
                      </td>
                      <th>
                          Saturated Fat
                      </th>
                      <td>
                          <b>{{nutr.fat_saturated_g}} g</b>
                      </td>
                  </tr>
                  <tr>
                      <th colspan="2">
                          <b>Cholesterol</b>

                      </th>
                      <td>
                          <b>{{nutr.cholesterol_mg}} mg</b>
                      </td>
                  </tr>
                  <tr>
                      <th colspan="2">
                          <b>Sodium</b>

                      </th>
                      <td>
                          <b>{{nutr.sodium_mg}} mg</b>
                      </td>
                  </tr>
                  <tr>
                      <th colspan="2">
                          <b>Potassium</b>
                      </th>
                      <td>
                          <b>{{nutr.potassium_mg}} mg</b>
                      </td>
                  </tr>
                  <tr>
                      <th colspan="2">
                          <b>Total Carbohydrate</b>
                      </th>
                      <td>
                          <b>{{nutr.carbohydrates_total_g}} g</b>
                      </td>
                  </tr>
                  <tr>
                      <td class="blank-cell">
                      </td>
                      <th>
                          Fiber
                      </th>
                      <td>
                          <b>{{nutr.fiber_g}} g</b>
                      </td>
                  </tr>
                  <tr>
                      <td class="blank-cell">
                      </td>
                      <th>
                          Sugar
                      </th>
                      <td>
                          <b>{{nutr.sugar_g}} g</b>
                      </td>
                  </tr>
                  <tr class="thick-end">
                      <th colspan="2">
                          <b>Protein</b>
                      </th>
                      <td>
                          <b>{{nutr.protein_g}} g</b>
                      </td>
                  </tr>
              </tbody>
          </table>
          {% if nutr.sodium_mg  > 1000 %}
          <p class="caution-info" style="margin-top: 5px;">* This food contains an high amount of sodium. High Sodium
              causes Sever dehydration and water retention.</p>

          {% endif %}
          {% if nutr.sugar_g > 100 %}
          <p class="caution-info"> This food contains an high amount of sugar. Sugar causes insulin spikes and is a
              no.1
              cause for Obesity. </p>
          {% endif %}



      </section>
      </div>

      <div  class="col-lg-6 col-md-12" style="background-color: transparent !important" >
        <canvas  id="nutritionChart-{{nutr.name}}" width="400" height="400"></canvas>
        <p class="mt-3 mb-4 thick-end-brown" style="line-height: 63px;font-size: 14px !important;">To burn {{nutr.calories}} calories you will have to
        </p>
        <div class="row">
          <div class="col-lg-6">
              <div class="d-flex align-items-center mb-5">
                  <div class="flex-shrink-0">
                      <img src="{% static 'images/running.png' %}" alt="..." width="20" height="20">
                  </div>
                  <div class="flex-grow-1 ms-3">
                      <p> Running <small>(5 mph - 12 minute mile)</small> </p>
                      <p>you will have to run for <strong> {{nutr.calories|div:581|mul:60|floatformat:0}}  </strong>
                          Minutes</p>
                  </div>
              </div>
              <div class="d-flex align-items-center mb-5">
                  <div class="flex-shrink-0">
                      <img src="{% static 'images/yoga.png' %}" alt="..." width="30" height="30">
                  </div>
                  <div class="flex-grow-1 ms-4">
                      <p> Do Stretching, Hatha Yoga </p>
                      <p>you will have to do Hatha Yoga for <strong> {{nutr.calories|div:290|mul:60|floatformat:0}}
                          </strong> Minutes</p>
                  </div>
              </div>
              <div class="d-flex align-items-center mb-5">
                  <div class="flex-shrink-0">
                      <img src="{% static 'images/workout.png' %}" alt="..." width="30" height="30">
                  </div>
                  <div class="flex-grow-1 ms-4">
                      <p>Weight lifting <small>(light workout)</small> </p>
                      <p>you will have to lift weight for <strong> {{nutr.calories|div:217|mul:60|floatformat:0}}
                          </strong> Minutes </p>
                  </div>
              </div>
              <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                      <img src="{% static 'images/walking.png' %}" alt="..." width="30" height="30">
                  </div>
                  <div class="flex-grow-1 ms-1">
                      <p> Go for a Brisk Walk </p>
                      <p>you will have to brisk walk for <strong> {{nutr.calories | div:210|mul:60|floatformat:0}}
                          </strong> Minutes</p>
                  </div>
              </div>

          </div>
          <div class="col-lg-6">

              <div class="d-flex align-items-center mb-5">
                  <div class="flex-shrink-0">
                      <img src="{% static 'images/basketball.png' %}" alt="..." width="30" height="30">
                  </div>
                  <div class="flex-grow-1 ms-3">
                      <p>Basketball<small> (non game)</small></p>
                      <p>you will have to play basketball for <strong> {{nutr.calories|div:435|mul:60|floatformat:0}} </strong>
                          Minutes</p>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-5">
                  <div class="flex-shrink-0">
                      <img src="{% static 'images/football.png' %}" alt="..." width="30" height="30">
                  </div>
                  <div class="flex-grow-1 ms-4">
                      <p>Football</p>
                      <p>you will have to play football for <strong> {{nutr.calories|div:290|mul:60|floatformat:0}}
                          </strong> Minutes</p>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-5">
                  <div class="flex-shrink-0">
                      <img src="{% static 'images/cycling.png' %}" alt="..." width="30" height="30">
                  </div>
                  <div class="flex-grow-1 ms-4">
                      <p>Cycling<small> (10-11.9 mph, light)</small></p>
                      <p>you will have to cycle for <strong> {{nutr.calories|div:435|mul:60|floatformat:0}}
                          </strong> Minutes </p>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                      <img src="{% static 'images/swim.png' %}" alt="..." width="30" height="30">
                  </div>
                  <div class="flex-grow-1 ms-1">
                      <p> Swimming<small> (freestyle, slow)</small></p>
                      <p>you will have to swim for <strong> {{nutr.calories | div:508|mul:60|floatformat:0}}
                          </strong> Minutes</p>
                  </div>
                </div>



          </div>
      </div>

      </div>
    </div>


<script>

var chrt = document.getElementById("nutritionChart-{{nutr.name}}").getContext("2d");
    var chartId = new Chart(chrt, {
        type: 'doughnut',
        data: {
            labels: ['carbohydrates', 'Cholesterol', 'Saturated fat', 'Total Fat', 'Fiber Content', 'Potassium', 'Protein', 'Sodium', 'Sugar'],
            datasets: [{
                data: ['{{ resp.0.carbohydrates_total_g }}',
                    '{{ resp.0.cholesterol_mg|div:1000 }}',
                    '{{ resp.0.fat_saturated_g }}',
                    '{{resp.0.fat_saturated_g }}',
                    '{{resp.0.fat_total_g }}',
                    '{{resp.0.potassium_mg|div:1000 }}',
                    '{{resp.0.protein_g }}',
                    '{{resp.0.sodium_mg|div:1000 }}',
                    '{{resp.0.sugar_g }}',],
                backgroundColor: ['#EADFB4', '#9BB0C1', '#51829B', '#F6995C', '#944E63', '#FF8080', '#D04848', '#211C6A', '#503C3C'],
                hoverOffset: 5
            }],
        },
        options: {
            responsive: true,
            // plugins: {
            //   customCanvasBackgroundColor: {
            //     color: 'red',
            //   }
            // }
        },
    });


  </script>