<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />


    <title>Calorie Tracker</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center">
                <img src="{% static 'images/logo.png' %}" width="200" height="200"
                    class="img-responsive logo mb-5 mt-5" />
                <form id="foodForm" hx-post="{% url 'get_food_info' %}" hx-target="#foodInfoContainer"
                    hx-trigger="submit[checkForm()]" hx-vals='js:{"query":getFoodInput()}'>
                    {%csrf_token%}
                    <div class="input-group input-group-lg mb-5">
                        <input id="foodInput" type="text" name="query" class="form-control"
                            placeholder="search for calories in your food..." required
                            aria-label="Type your message here..." aria-describedby="sendButton">
                        <button class="btn btn-search " type="submit">Find calories</button>
                    </div>
                </form>
                <div id="foodInfoContainer">

                </div>

            </div>

        </div>
    </div>



    <!-- HTMX -->
    <script src="{% static  'js/htmx.js' %}"></script>
    <script src="{% static  'js/chart.min.js' %}"></script>


    <script>

        document.body.addEventListener("htmx:configRequest", (event) => {
            event.detail.headers["X-CSRFTOKEN"] = "{{csrf_token}}";
        });

        function getFoodInput() {
            return document.getElementById("foodInput").value.trim();
        }


        function checkForm() {
            const foodInput = document.getElementById('foodInput');

            if (foodInput.value.trim() === "") {
                document.getElementById("foodInfoContainer").innerHTML = "Food field is empty";
                return false;
            }

            return true;

        }
    </script>
</body>

</html>